@import "./base.css";
@import "./variables.scss";
@import "./dark.scss";

html {
  font-family: Helvetica, Arial, sans-serif;
}

li {
  margin-left: 1rem;
  padding-bottom: 1rem;
}

.button {
  padding: .5rem 1rem;
  margin-right: .5rem;
  border-radius: 4rem;
  text-align: center;
  box-shadow: initial;
  text-decoration: none;
  color: inherit;

  transition: all 0.5s ease;

  &.active, &:active {
    background: linear-gradient(to bottom right, darken($primary, 10%) 0%, darken($primary, 40%) 100%);
    border: darken($primary, 20%) 1px solid;
    color: white;
  }
  &:hover {
    border: darken($primary, 20%) 1px solid;
    cursor: pointer;
  }
}

.container {
  max-width: $large;
  margin: 0 auto;
}

.space {
  padding: 1rem;
  margin: 1rem;
}

.space-sm {
  padding: 0.5rem;
  margin: 0.5rem;
}



@media print {
  body {
    font-size: 75%;
  }

  .no-print {
    display: none;
  }
}


header {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contact {
    vertical-align: middle;
    display: flex;
    justify-items: flex-end;
    text-align: end;
    line-height: 1.15rem;
  }
}

.box {
  border-radius: .75rem;
  border: 1px solid #cccccc62;
  box-shadow: 0 0 10px #d8d8d880;

  @media (prefers-color-scheme: dark) {
    border: 1px solid #ffffff1a;
    box-shadow: 0 0 10px #ffffff1a;
  }

  @media print {
    box-shadow: none;
    border: none;
  }

  .head {
    display: flex;
    justify-content: space-between;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: white;
  font-size: 1rem;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 0%;
  width: 100%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}